{% extends 'companies.html' %}


{% block content %}

<form action="{% url 'api_update_view' selected_details.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="instution_title" id="">
    <input type="text" name="appointment" id="">
    <input type="date" name="time" id="">
    <input type="number" name="income_1" id="">
    <input type="number" name="income_2" id="">
    <input type="number" name="expense" id="">
    <input type="number" name="expense_1" id="">
    <input type="number" name="expense_2" id="">
    <input type="number" name="expense_3" id="">
    <input type="number" name="expense_4" id="">
    <input type="number" name="expense_5" id="">
    <input type="number" name="expense_6" id="">
    <input type="number" name="expense_7" id="">
    <input type="number" name="expense_8" id="">
    <input type="number" name="expense_9" id="">
    <input type="number" name="expense_10" id="">
    <input type="number" name="expense_11" id="">
    <input type="number" name="expense_12" id="">
    <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}